main:
  connect:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    vhost: /
  exchange:
    heartbeat:
      name: aha.health.heartbeat
      kind: direct
    services:
      name: aha.services.list
      kind: fanout
    components:
      name: aha.components.list
      kind: fanout
    data:
      name: aha.data.update
      kind: fanout
